

body {
    background-image: url("/public/images/333950.png");
    background-position-x: center;
    background-size: 250%;
    
}

#headerDiv {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 5px solid brown;
    font-family: fantasy;
    font-size: 25pt;
    letter-spacing: 2px;
    word-spacing: 2px;
    color: #000000;
    font-weight: 900;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
}

.babyPics {
    display: flex;
    z-index: 0;
    /* width: 100%;
    height: 400px; */
}

#dangles {
    position: absolute;
    width: 50%;
    /* height: 400px; */
    /* margin-bottom: -50%; */
    overflow: hidden;
}
#dangles2 {
    position: absolute;
    left: 50%;
    width: 50%;
}


#loginBtn {
    font-size: 16pt;
    background: rgb(177, 177, 177);
    transition-duration: 0.4s;;
}
#loginBtn:hover {
    background-color: rgb(214, 141, 157);
    color: darkblue;
}

.flyIn {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* align-items: center; */
    margin-top: 40px;
    height: 50px;	
    /* overflow: hidden; */
    border-bottom: 10px;
    border-bottom-color: rgb(0, 0, 0);
    z-index: 2;
   }

.flyIn .flyInText {    
    width: 100%;
    height: 100%;
    margin: 0;
    line-height: 50px;
    text-align: left; 
    font-size: 40pt;
    font-variant: small-caps;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    z-index: 2;
    color: rgb(17, 150, 184);
    text-shadow: #000000 0px 1px, #FFF 0 2px 4px, #ff0 0 -2px 8px, #ff8000 0 -8px 16px, red 0 -14px 40px;
/* Apply animation to this element */	
    animation: flyInText 1.1s ease-in;
    }
/* Move it (define the animation) */
@keyframes flyInText {
    0%   { 
    transform: translateX(200%); 		
    }
    100% { 
    transform: translateX(0%); 
    }
    }

.flyIn .flyInText2 {
    width: 100%;
    height: 100%;
    margin: 0;
    line-height: 50px;
    text-align: left; 
    font-size: 40pt;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-variant: small-caps;
    font-style: italic;
    color: rgb(211, 102, 193);
    text-shadow: #FFF 0 -1px 4px, #ff0 0 -2px 8px, #ff8000 0 -8px 16px, red 0 -14px 40px;
    z-index: 2;
/* Apply animation to this element */	
    animation: flyInText 1.4s ease-in;
    }
/* Move it (define the animation) */
@keyframes flyInText2 {
    0%   { 
    transform: translateX(200%); 		
    }
    100% { 
    transform: translateX(0%); 
    }
    }
.flyIn .flyInText3 {
    width: 100%;
    height: 100%;
    margin: 0;
    line-height: 50px;
    text-align: left; 
    font-size: 40pt;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    text-transform: uppercase;

    font-weight: 700;
    text-shadow: #FFF 0 -1px 4px, #ff0 0 -2px 8px, #ff8000 0 -8px 16px, red 0 -14px 40px;
    z-index: 2;
/* Apply animation to this element */	
    animation: flyInText 1.8s ease-in;
    }
/* Move it (define the animation) */
@keyframes flyInText3 {
    0%   { 
    transform: translateX(200%); 		
    }
    100% { 
    transform: translateX(0%); 
    }
    }

.midContent {
    display: flex;
    align-items: center;
}
.botText {
    display: flex;
}

@keyframes fadeIn {
    from {opacity: 0}
    to {opacity: 1}
}
#dropIn {
    font-size: 30pt;
    font-family: fantasy;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 35%;
    text-align: center;
    justify-content: space-evenly;
    opacity: 0;
    animation: fadeIn 2s forwards;
    animation-delay: 2.1s;

}
#dropIn ul {
    display: inline;
    margin-bottom: -100px;
    animation-delay: 0.5s each-child;
} 


#takes {
    font-size: 20pt;
    margin-bottom: -50px;
}

#getBabies {
    display: inline;
    justify-content: center;
    top: 55%;
    left: 50%;
}

.babiesContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 10;
}

.babiesCard {
    background-color: blanchedalmond;
    width: 200px;
    margin: 20px; 
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 12px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
/* Specificity, zindex to move forward/back. */ 